<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.unive.quadcore.smartmeal">
    <!-- Permessi richiesti per Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartMeal">
        <receiver android:name=".sensor.GeofenceBroadcastReceiver" />
        <activity android:name=".ui.manager.bottomnavigation_virtualroom.tableList.addTable.AddTableActivity" />
        <activity android:name=".ui.manager.bottomnavigation_virtualroom.ManagerRoomBottomNavigationActivity" />
        <activity android:name=".ui.manager.home.DescriptionManagerActivity" />
        <activity android:name=".ui.manager.home.MenuManagerActivity" />
        <activity android:name=".ui.manager.home.ManagerHomeActivity" />
        <activity
            android:name=".ui.manager.InsertPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.SelectAppModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.customer.InsertPersonalDataActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.customer.bottomnavigation.CustomerBottomNavigationActivity" />
        <activity android:name=".ui.customer.virtualroom.CustomerVirtualRoomActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
